
img{ 
  margin-top: .3rem;
}

.tiendaReloj {
  color: #000;
}

.tiendaReloj:hover {
  color: #8c8c8c
}

/* CartWidget */
.cartWidgetContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0 1rem;
}

.cartWidget-cart {
  transition: all .2s ease;
}

.cartWidget-cart:hover{
  scale: 110%;
}

.cW-ContainerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartQuantity{
  display: flex;
  flex-direction: row;
  padding: .5rem;
}

.cW-Cd-P {
  border: 1px solid black !important;
  font-size: 1rem;
  margin: 0;
}

.cantCarrito{
  color: #000;
}

/* CART */
.emptyCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.cartContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardCart {
  max-width: 100%;
  width: 60%;
  margin: 1rem 0 0 0;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem ;
}

.divButtons button {
  border: 1px solid black;
  margin: 0 1rem 0 1rem;
}

.cartResumenCompra{
  text-align: center;
  color: #000;
  font-weight: 650;
}

    /* ITEMCART */
    .cardBody {
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
    
    .card-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }


/* Item List Container */

.prodsGeneral{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.itemLcontainerH1 {
  text-align: center;
  padding: 1rem 0;
}

.cardProductos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
}

/* Item */

.cardProd {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin: .5rem;
  background-color: #f2f2f2;
  max-height: 450px;
}

.card-img-top{
  width: 150px;
  max-height: 200px;
}


.cardProdDark {
  background-color: #6d6d6d;
  align-items: center;
  text-align: center;
}


/* ITEM COUNT */
.btnCount{
  padding: 0.5rem;
  margin: 0.5rem;
}


/* ItemDetailContainer */

.itemDetail {
  max-width: 540px;
  margin-top: 20px;
}

.itemDetailBodyDark {
  background-color: #6d6d6d;
  color: #fff;


}

/* Checkout */

.formDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contForm {
  margin: 1rem 0;
  border: .1rem solid #b9b9b9;
  padding: 1rem;
}

/* Dark Mode General */
.darkMode {
  background-color: #000;
  color: #8c8c8c;
}

.cantCarrito {
  position: relative;
  left: 15%
}

.fD-error{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fD-error h2{
  margin: 2rem 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

@media (max-width:1200px) {
  .prodsGeneral {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .cardProd{
    display: flex;
    flex-direction: column;
  }

  .navbar-nav {
    display: flex;
    align-items: flex-start;
  }

  .cartWidgetContainer{
    padding: 0;
  }

  .btn {
    padding: .5rem;
  }
}

@media (max-width:768px) {
  .cardProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .cardProd{
    width: 100%;
  }
}

@media (max-width:580px) {
  .prodsGeneral{
    
  }

  .cardProductos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 5rem;
  }

  .cardProd{
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }

  .card-img-top{
    width: 10rem;
  }
}